<section>
  <div class="card">
    <h6>Get Started</h6>
    <div class="side">
    <img src="../../assets/images/lightbulb.png" alt="lightbulb icon">
    </div>
  </div>
  <div class="card">
    <h6>Pay Your Way</h6>
    <div class="side">
    <img src="../../assets/images/wallet.png" alt="wallet icon">
    </div>
  </div>
  <div class="card">
    <h6>Purchase Protection<sup>1</sup></h6>
    <div class="side">
    <img src="../../assets/images/shield.png" alt="shield icon">
    </div>
  </div>
  <div class="card">
    <h6>Send Money</h6>
    <div class="side">
    <img src="../../assets/images/pay.png" alt="pay icon">
    </div>
  </div>
</section>
