<section>
  <div class="card-container">
    <div class="card">
      <div class="side">
        <h6>Get Started</h6>
        <img src="../../assets/images/lightbulb.png" alt="lightbulb icon">
      </div>
      <div class="side back">
        <h6>Get Started</h6>
        <p>We're more than just a way to pay.</p>
        <p>Explore what PayPal has to offer.</p>
        <p>Learn More</p>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="side">
        <h6>Pay Your Way</h6>
        <img src="../../assets/images/wallet.png" alt="wallet icon">
      </div>
      <div class="side back">
        <h6>Pay Your Way</h6>
        <p>Our digital wallet lets you add credit, debit and bank accounts so you decide how to pay.</p>
        <p>Learn More</p>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="side">
        <h6>Purchase Protection<sup>1</sup></h6>
        <img src="../../assets/images/shield.png" alt="shield icon">
      </div>
      <div class="side back">
        <h6>Purchase Protection<sup>1</sup></h6>
        <p>If you don't recieve exactly what you ordered, we'll help you get your money side back.</p>
        <p>Learn More</p>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="side">
        <h6>Send Money</h6>
        <img src="../../assets/images/pay.png" alt="pay icon">
      </div>
      <div class="side back">
        <h6>Send Money</h6>
        <p>With a PayPal account email address or phone number you can send money almost anywhere in a snap.</p>
        <p>Transfer Funds</p>
      </div>
    </div>
  </div>
</section>
