section{
  display: flex;
  justify-content: space-around;
  margin: 50px 12%;
}
.card{
  height: 230px;
  width: 23%;
  background-color: white;
  text-align: center;
  font-size: 1.4rem;
  color: gray;
  h6{
    padding: 18px 0 35px 0;
  }
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: radial-gradient(circle at bottom, #0c8dc4, darkblue);
  text-align: center;
  transform: rotateY(180deg);
}
