<nav [ngClass]="{'backing': personalDropdown || businessDropdown}">
  <div class="top">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>
  <div class="top">
    <p (click)='personalDropdown = !personalDropdown; businessDropdown = false'>PERSONAL <i [ngClass]="{'flip': personalDropdown}" class="fas fa-chevron-down"></i></p>
    <p (click)='businessDropdown = !businessDropdown; personalDropdown = false'>BUSINESS <i [ngClass]="{'flip': businessDropdown}" class="fas fa-chevron-down"></i></p>
    <p>SEND</p>
    <p>REQUEST</p>
  </div>
  <div class="top">
    <p class="btn">Log In</p>
    <p class="btn">Sign Up</p>
  </div>
</nav>
<div class="personalDropdown"  [ngClass]="{'slide': personalDropdown}" >
  <div class="container" *ngIf='personalDropdown'>
    <div class="menu" *ngFor='let item of personal'>
      <p class="nav1">{{item.title}}</p>
      <p class="nav2">{{item.tagline}}</p>
    </div>
  </div>
</div>
<div class="businessDropdown" [ngClass]="{'slide': businessDropdown}">
  <div class="container" *ngIf='businessDropdown'>
    <div class="menu" *ngFor='let item of business'>
      <p class="nav1">{{item.title}}</p>
      <p class="nav2">{{item.tagline}}</p>
    </div>
  </div>
</div>
