nav{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 72px;
  background-image: linear-gradient(rgba(0,0,0,.45), transparent);
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  transition: background-color .1s;
  img{
    height: 45%;
    width: 28%;
  }
  .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
  }
  .top:nth-of-type(2){
    font-weight: bold;
    padding-top: 5px;
  }
  .top:last-of-type{
    justify-content: center;
    padding-top: 5px;
    p{
      border: 1.1px solid white;
      padding: 12px 25px;
      border-radius: 100px;
    }
    p:last-of-type{
      margin-left: 10px;
      background-color: white;
      color: #2c2e2f;
    }
  }
}
i{
  transition: transform .5s;
}
.backing{
  background-color: #3174e0;
}
.personalDropdown{
  height: 0px;
  color: white;
  transition: height 1s;
  background-color: #3174e0;
  .container{
    height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 74%;
    padding: 0 13%;
    color: transparent;
    animation-name: fade;
    animation-duration: .3s;
    animation-delay: .7s;
    animation-fill-mode: forwards;
  }
  .menu{
    margin: 10px 0;
  }
  p{
    padding: 5px;
  }
}
.businessDropdown{
  height: 0px;
  color: white;
  transition: height 1s;
  background-color: #3174e0;
  .container{
    height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 74%;
    padding: 0 13%;
    color: transparent;
    animation-name: fade;
    animation-duration: .3s;
    animation-delay: .7s;
    animation-fill-mode: forwards;
  }
  .menu{
    margin: 10px 0;
  }
  p{
    padding: 5px;
  }
}
.nav2{
  font-size: .85rem;
}
.slide{
  height: 140px;
}
.flip{
  transform: rotate(-180deg);
}

@keyframes fade{
  from{
    color: transparent;
  }
  to{
    color: white;
  }
}
