nav{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 72px;
  background-image: linear-gradient(rgba(0,0,0,.45), transparent);
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  img{
    height: 45%;
    width: 28%;
  }
  .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
  }
  .top:nth-of-type(2){
    font-weight: bold;
    padding-top: 5px;
  }
  .top:last-of-type{
    justify-content: center;
    padding-top: 5px;
    p{
      border: 1.1px solid white;
      padding: 12px 25px;
      border-radius: 100px;
    }
    p:last-of-type{
      margin-left: 10px;
      background-color: white;
      color: #2c2e2f;
    }
  }
}
.personalDropdown{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  color: white;
  padding: 10px 15%;
  div{
    height: 40px;
    padding: 10px;
  }
  p{
    padding: 5px;
  }
}
