<nav [ngClass]="{'backing': personalDropdown}"v>
  <div class="top">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>
  <div class="top">
    <p (click)='personalDropdown = !personalDropdown'>PERSONAL <i class="fas fa-chevron-down"></i></p>
    <p (click)='businessDropdown = !businessDropdown'>BUSINESS <i class="fas fa-chevron-down"></i></p>
    <p>SEND</p>
    <p>REQUEST</p>
  </div>
  <div class="top">
    <p class="btn">Log In</p>
    <p class="btn">Sign Up</p>
  </div>
</nav>
<div class="personalDropdown"  [ngClass]="{'slide': personalDropdown}" >
  <div class="container" *ngIf='personalDropdown'>
    <div class="menu" *ngFor='let item of personal'>
      <p class="nav1">{{item.title}}</p>
      <p class="nav2">{{item.tagline}}</p>
    </div>
  </div>
</div>
<div class="businessDropdown" *ngIf='businessDropdown'>
  <p>business dropdown</p>
</div>
