.top{
  z-index: -10;
  min-height: 530px;
  position: relative;
  top: -75px;
  img{
    width: 100%;
    height: auto;
  }
  app-header{
    position: relative;
    top: -450px;
  }
}
.main{
  position: relative;
  top: -450px;
  background-color: #f7f9fa;
  min-height: 530px;
}
