.top{
  background-image: url('../assets/images/header.jpg');
  background-position: center;
  background-size: cover;
  min-height: 530px;
}
.main{
  background-color: #f7f9fa;
  min-height: 530px;
}
